<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <title>Classify</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#sample_df").on("click", "tbody tr", function (event) {
          var selected_row = "";
          // alert("clicked");
          $(this).addClass("highlight").siblings().removeClass("highlight");
          // console.log(this);
          $(this)
            .find("td")
            .each(function (index, td) {
              var value = td.innerHTML;
              selected_row = selected_row + "," + value;
            });
          selected_row = selected_row.substring(1);
          console.log(selected_row);
          $("textarea#classify").val("");
          $("textarea#classify").val(selected_row);
        });
      });
    </script>
    <style>
      * {
        font-family: "Roboto";
      }
      table.dataframe {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        border: none;
        border-collapse: collapse;
      }
      .table tbody tr.highlight td {
        background-color: #8ae429;
      }
    </style>
  </head>
  <body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">&ensp; ML</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('preprocess') }}"
              >Pre-Processing</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Feature Selection
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a
                class="dropdown-item"
                href="{{ url_for('featuresel', method_name='chi') }}"
                >Chi-Squared</a
              >
              <a
                class="dropdown-item"
                href="{{ url_for('featuresel', method_name='pca') }}"
                >PCA</a
              >
              <a
                class="dropdown-item"
                href="{{ url_for('featuresel', method_name='rfi') }}"
                >RandomForestImportance</a
              >
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Classification
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Gini</a>
              <a class="dropdown-item" href="#">Entropy</a>
            </div>
          </li> -->
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('classify')}}"
              >Classify</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <br />
    <!-- main section -->

    <div class="container">
      <div class="container">
        <h1 class="text-center text-primary">Classification</h1>
      </div>
      <div class="container">{{ data.sample_df|safe }}</div>
      <br />
      <div class="container">
        <div class="form text-center">
          <form action="{{ url_for('classify') }}" method="post">
            <textarea
              name="classify"
              cols="30"
              rows="6"
              placeholder="paste in csv format"
              class="w-100"
              style="resize: none"
              id="classify"
            >
{{data.classify}}</textarea
            >
            <br />
            <input
              type="submit"
              class="btn btn-outline-success"
              value="submit"
            />
          </form>
        </div>
      </div>

      <hr />
      <br />

      <div class="container">
        <h3 class="text-success">Results:</h3>
        <div class="container text-center w-25">
          <div class="row">
            <div class="col">
              <b> 0: </b> Normal/Benign
            </div>
              <div class="col">
                <b> 1: </b> Attack/Anamoly
              </div>
          </div>
        </div>

      <br/>
    <br/>
        <div class="container">
          <h3 class="text-center text-info">Actual</h3>
          <div class="container text-center">
            <div class="row fw-bold">
              <div class="col col-6">Attack</div>
              <div class="col col-6">Class</div>
            </div>
            <div class="row">
              <div class="col col-6">{{ data.actual_b }}</div>
              <div class="col col-6">{{ data.actual_m }}</div>
            </div>
          </div>
        </div>

        <hr />

        <div class="container">
          <h3 class="text-center text-info">Classified</h3>
          <div class="container text-center">
            <div class="row">
              <div class="col col-6">{{ data.pred_b }}</div>
              <div class="col col-6">{{ data.pred_m }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </body>
</html>
